.button {
  border: none;
  background-color: #033a80;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: .5rem;
  width: 8rem;
  padding: .60em 1.70em;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  transition: 0.5s;
}

.button:hover {
  background-color: #5805ff;
  cursor: pointer;
  scale: 1.1;
}